.formBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.formInput {
  padding: 0.7em;
  min-width: 280px;
  margin-left: 0.5em;
}

.isDanger {
  color: rgb(193, 79, 79);
  margin: 0;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
