#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90%;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}

.main > div {
  border-radius: 5px;
  padding: 20px;
  border: 2px solid #ccc;
}

hr {
  margin: 2em
}


details {
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
}
details[open] {
  padding-bottom: 20px;
}
details[open] summary {
  margin-bottom: 10px;
}
details[open] summary::before {
  transform: rotate(-135deg) translate(-30%, 0%);
}
details:not(:first-child) {
  margin-top: 10px;
}

summary {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 16px;
  transition: margin 0.3s ease-out;
  cursor: pointer;
  font-weight: 500;
}
summary::-webkit-details-marker {
  display: none;
}
summary::before {
  content: "";
  display: block;
  height: 6px;
  flex: 0 0 6px;
  margin-right: 20px;
  border-right: 2px solid #383838;
  border-bottom: 2px solid #383838;
  transition: all 0.3s;
  transform: rotate(45deg) translate(0, -30%);
}

.content {
  padding: 0 20px;
}